* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
}

nav {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: #222327;
}

header a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  padding: 4px 8px;
  font-weight: 300;
  font-size: 14px;
}

#finder {
  color: #fff;
  font-weight: 500;
}

header a:hover:not(.mac-svg) {
  background-color: #38383a;
  border-radius: 5px;
  color: #fff;
}

.mac-svg {
  width: 20px;
  height: 22px;
  fill: #fff;
  transform: scale(0.8);
}

main {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  background-image: url("../assets/macbook.jpg");
  background-size: cover;
  background-position: 50% 60%;
  overflow-x: hidden;
}

.device-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.device-info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  margin: 0 5px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-icon {
  padding: 10px;
  cursor: pointer;
}

.page-icon:hover {
  background-color: #4ec2f848;
  border-radius: 10px;
}

.page-icon img {
  width: 35px;
  padding-bottom: 15px;
}

.page-icon p {
  color: #ccc9c9;
  font-size: 12px;
  text-decoration: none;
}

footer {
  margin-top: -8%;
  color: #fff;
  display: flex;
  justify-content: center;
}

.dock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #1b1b1e;
  margin: 0 auto;
  transition: all 0.1s;
  box-shadow: 0 0 1px #908c8c;
}

.dock-item img {
  width: 60px;
  margin-top: -15px;
  transition: all 0.1s;
  cursor: pointer;
}

.dock-item p {
  padding: 4px 10px;
  font-size: 12px;
  background-color: rgb(42, 42, 42);
  border-radius: 8px;
  transform: translateY(-50px);
  transition: all 0.1s;
  opacity: 0;
}

.dock-item:hover p {
  opacity: 1;
  margin: 0 10px;
}

[data-attribute]::before {
  width: 50px;
  height: 5px;
  background-color: red;
}

.dock-item:hover .dock-item::before {
  content: attr(data-title);
  width: 50px;
  height: 5px;
  background-color: red;
}

.dock-item:hover img {
  transition: all 0.2s;
  transform: scale(1.4);
}

/* 
.loading-animation {
  width: 100%;
  height: 100vh;
  background-color: #111;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mac-svg-loader {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.loader-container {
  background-color: #726f6f;
  width: 200px;
  height: 5px;
  border-radius: 5px;
}

.loader {
  background-color: #fff;
  height: 100%;
  animation: loading 2s ease;
  border-radius: 5px;
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
} */
